<form>
    <div>
        <h3>Genres favoris :</h3>
        <div *ngIf="true; else elseButtons">
            <button type="button">Modifier</button>
        </div>
    </div>
    <ul>
        <li *ngFor="let genre of genresList">
            <input type="hidden" [id]="genre" [name]="genre" [value]="genre" />
            <label [for]="genre">{{ genre }}</label>
        </li>
    </ul>
</form>

<ng-template #elseButtons>
    <div>
        <button>Valider</button>
        <button class="cancel-button" type="button">Annuler</button>
    </div>
</ng-template>