<h2>Profil de {{ user.pseudo }}</h2>
<div>
    <div>
        <!-- Potentiellement image de profil ici -->
    </div>
    <div>
        <h3>Anniversaire : {{ user.birthDate | date: 'd MMM' : undefined : 'fr' }}</h3>

        <app-user-genres-form [genresList]="user.genres" [authenticated]="authenticated"></app-user-genres-form>
    </div>
</div>


<div>
    <h3>Mes évaluations</h3>
    <app-evaluation-list [onMedia]="false"></app-evaluation-list>
</div>

<hr>
<h3>Affichage provisoire</h3>
<app-user-detail-form></app-user-detail-form>
<app-edit-password-form></app-edit-password-form>