

<!-- media-list.component.html -->

<div class="media-grid">
    <div class="media-thumbnail" *ngFor="let media of mediaList" [routerLink]="['/media', media.id]">
        <img [src]="media.imageUrl" alt="{{ media.title }}" />
        <div class="media-details">
            <p>Titre: {{ media.title }}</p>
            <p>Type: {{ media.type }}</p>
            <p>Date de réalisation: {{ media.releaseYear }}</p>
            <p>Durée: {{ media.duration }} minutes</p>
            <p>Note: {{ media.avgRating | number: '1.1-1' }}</p>
            <p>Genres: {{ media.genres.join(', ') }}</p>
            <!-- Add more details as needed -->
        </div>
    </div>
</div>
